{% extends "base.html" %}

{% block title %}Części{% endblock %}

{% block content %}
<h2>Magazyn części</h2>

<div class="actions">
    {% if uzytkownik_aplikacji.rola == 'magazynier' or uzytkownik_aplikacji.rola == 'admin' %}
        <a href="{% url 'dodaj_czesc' %}" class="btn">Dodaj część</a>
        <a href="{% url 'dodaj_operacje_magazynowa' %}" class="btn">Dodaj operację magazynową</a>
    {% endif %}
</div>

<table>
    <tr>
        <th>Nazwa</th>
        <th>Stan</th>
        <th>Cena</th>
        <th>Akcje</th>
    </tr>

    {% for czesc in czesci %}
    <tr>
        <td>
            {{ czesc.nazwa }}
        </td>
        <td>{{ czesc.stan_magazynowy }}</td>
        <td>{{ czesc.cena }} zł</td>
        <td>
            <a href="{% url 'szczegoly_czesci' czesc.id %}" class="btn">Szczegóły</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Brak części</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}