{% extends "base.html" %}

{% block title %}Rowery{% endblock %}

{% block content %}
<h2>Lista rowerów</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Marka</th>
        <th>Model</th>
        <th>Typ</th>
        <th>Klient</th>
    </tr>

    {% for rower in rowery %}
    <tr>
        <td>{{ rower.marka }}</td>
        <td>{{ rower.model }}</td>
        <td>{{ rower.typ }}</td>
        <td>{{ rower.klient }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Brak rowerów</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}