{% extends "base.html" %}

{% block title %}Zgłoszenia{% endblock %}

{% block content %}
<h2>Zgłoszenia serwisowe</h2>

<a href="{% url 'dodaj_zgloszenie' %}" class="btn">Dodaj zgłoszenie</a>

<table>
    <tr>
        <th>Klient</th>
        <th>Rower</th>
        <th>Opis</th>
        <th>Status</th>
    </tr>

    {% for z in zgloszenia %}
    <tr>
        <td>{{ z.klient }}</td>
        <td>{{ z.rower }}</td>
        <td>{{ z.opis_usterki }}</td>
        <td>
            <span class="badge">{{ z.status }}</span>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">Brak zgłoszeń</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}